{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 

 <br>
 <div class="page-section mb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                            <!-- Login Form s-->
                            <form action="{% url 'admin_login'%}" method="post" >
                                {% csrf_token %}
                                <div class="login-form">
                                    <h4 class="login-title">Login</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb-20">
                                            <label>Username </label>
                                            <input class="mb-0" type="text" placeholder="Username" name="username">
                                        </div>
                                        <br>
                                        <div class="col-12 mb-20">
                                            <label>Password</label>
                                            <input class="mb-0" type="password" placeholder="Password" name="password">
                                        </div>
                                        <br><br>
                                        <div class="col-md-12">
                                            <button class="register-button mt-0">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="text-center mt-4"> <strong>Vous n'avez pas de compte ? </strong><a href="{% url 'admin_register' %}">S'inscrire</a></p>
                        </div>
                        <br>

                                      
                    </div>
                </div>
            </br>
{% endblock  %}